<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details<br>
        </div>
        <div class="header-action">
            <button class="search-content"><img src="../assets/search.svg" alt="search"></button>
            <button class="add-button" routerLink="/form"><img src="../assets/plus_symbol.svg">Add User</button>
        </div>
    </div>
    <div class="table-main">
        <table id="table-display" class="table-content">
            <tr>
                <th class="profile"></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let emp of employeelist">
                <td><img class="profile" src="{{emp.profilePic}}" alt=""></td>
                <td>{{emp.name}}</td>
                <td>{{emp.gender}}</td>
                <td>
                    <div class="dept-label" *ngFor="let departments of emp.departments">{{departments}}</div>
                </td>
                <td>{{emp.salary}}</td>
                <td>{{emp.startDate}}</td>
                <td><img src="../../../assets/edit.svg" class="edit" (click)="editById(emp.employeeId)" />
                    <img src="../../../assets/delete.svg" class="delete" (click)="deleteById(emp.employeeId)" />
                </td>
            </tr>
        </table>
    </div>
</div>