<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details<br>
        </div>
        <div class="header-action">
            <button class="search-content"><img src="../assets/search.svg" alt="search"></button>
            <button class="add-button" routerLink="/form"><img src="../assets/plus_symbol.svg">Add User</button>
        </div>
    </div>
    <div class="table-main">
        <table id="table-display" class="table-content">
            <tr>
                <th class="profile"></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>

        </table>
    </div>
</div>