<div class="form-content">
    <form class="form">
        <div class="form-head">Employee Payroll Form</div>
        <div class="row-content">
            <label for="Name" class="label text">Name</label>
            <input type="text" name="Name" id="Name" minlength="3" pattern="^[A-Z][a-zA-Z]$" class="input required"
                placeholder="Enter your Name... " autocomplete="off" required [(ngModel)]="employee.name">
            <span class=error-output></span>
        </div>
        <div class="row-content">
            <label class="label text" for="profile">Profile Image</label>
            <div class="profile-radio-content">
                <label>
                    <input type="radio" id="profile1" name="profile" value="../assets/profile_img-1.png" required
                        [(ngModel)]="employee.profilePic">
                    <img class="profile" id="image1" src="../assets/profile_img-1.png">
                </label>
                <label>
                    <input type="radio" id="profile2" name="profile" value="../assets/profile_img-2.png" required
                        [(ngModel)]="employee.profilePic">
                    <img class="profile" id="image2" src="../assets/profile_img-2.png">
                </label>
                <label>
                    <input type="radio" id="profile3" name="profile" value="../assets/profile_img-3.png" required
                        [(ngModel)]="employee.profilePic">
                    <img class="profile" id="image3" src="../assets/profile_img-3.png">
                </label>
                <label>
                    <input type="radio" id="profile4" name="profile" value="../assets/profile_img-4.png" required
                        [(ngModel)]="employee.profilePic">
                    <img class="profile" id="image4" src="../assets/profile_img-4.png">
                </label>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <input type="radio" id="male" name="gender" value="Male" [(ngModel)]="employee.gender">
                <label class="text" for="male">Male</label>
                <input type="radio" id="male" name="gender" value="Female" [(ngModel)]="employee.gender">
                <label class="text" for="female">Female</label>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div *ngFor="let departName of departments,let i = index ">
                <input type="checkbox" class="checkbox" id="department" name="department"
                    [value]="this.employee.departments[i]" (change)="checkBoxChange(departName)" (ngModel)="departName"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl> {{departName}}>
            </div>
        </div>
        <div class="row-content">
            <label class="label text">Salary </label>
            <input class="input required" type="range" name="salary" id="salary" min="300000" max="800000" step="100"
                value="400000" [(ngModel)]="employee.salary">
            <output class="salary-output text">800000</output>
        </div>
        <div class="row-content">
            <label class="label text" for="StartDate">Start Date</label>
            <input type="date" class="startDate" id="StartDate" name="date" [(ngModel)]="employee.startDate" required>
        </div>
        <div class="row-content">
            <label class="label text">Notes</label>
            <textarea class="input required" id="notes" name="Notes" placeholder="Note..." style="height:100px"
                [(ngModel)]="employee.note"></textarea>
        </div>
        <div class="buttonParent">
            <button class="resetButton button cancelButton" (click)="onCancel()">Cancel</button>
            <div class="submit-reset">
                <button type="submit" (click)="onSubmit()" class="button submitButton" id="submitButton">Submit</button>
                <button class="updatebutton button" *ngIf="this.id!=null" (click)="updateEmployeeData()">update</button>
                <button type="reset" class="resetButton button">Reset</button>
            </div>
        </div>

    </form>

</div>